* {
    margin: 0;
    padding: 0;
    transition: all .6s ease;
}

ul, ol {
    list-style: none;
}

p {
    margin: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    margin-top: 25px !important;
}

.sec1 {
    background: #ffffff url("images/banner_01.jpg") center no-repeat;
    background-size: cover;
}

.sec1 .con {
    text-align: center;
    color: #ffffff;
}

.sec1 .nav-con {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;
}

.sec1 .nav-con ul {
    overflow: auto;
}

.sec1 .nav-con li {
    float: left;
    padding: 25px 10px 10px;
    text-align: center;
    background: transparent;
    transition: all .6s ease;
}

.sec1 .nav-con li.active, .sec1 .nav-con li:hover {
    transition: all .6s ease;
    background: #ff6d00;
}

.sec1 .downbtn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.fixed-slide {
    position: fixed;
    right: 10px;
    bottom: 0px;
}

.fixed-slide li {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #000000;
    margin-top: 5px;
    cursor: pointer;
    transition: all .6s ease;
}

.sec2 {
    position: relative;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.title-zh {
    color: #000000;
    font-size: 40px;
}

.title-en {
    font-size: 24px;
    margin-top: 10px;
    color: #bebebe;
    margin-bottom: 20px;
}

.sec2 .des {
    margin-top: 15px;
    font-size: 14px;
    color: #7c7c7c;
}

.sec2 ul {
    overflow: auto;
    padding-top: 30px;
}

.sec2 li {
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
}

.sec2 li .content {
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.sec2 li:last-child {
    margin-right: 0;
}

.sec2 li .img-num {
    position: relative;
    width: 100%;
    height: 170px;
    background: #ffffff;
}

.sec2 li .img-num h4 {
    font-size: 75px;
    color: #7c7c7c;
    line-height: 170px;
    margin: 0;
}

.sec2 li .img-num img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.sec2 li h3 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec2 li p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #b1b1b1;
    padding: 0 15px;
    margin-bottom: 20px;
    text-align: left !important;
}

.sec2 li:hover .img-num img {
    display: block;
}

.sec2 li:hover .img-num h4 {
    display: none;
}

.sec2 li:hover .content {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

.sec2-btn-group {

}

.sec2-btn-group button {
    border: 1px solid #bebebe;
    color: #7c7c7c;
    font-size: 16px;
    background: #ffffff;
    border-radius: 30px;
    padding: 15px 60px;
    margin: 40px 20px 0;
}

.sec2-btn-group button:hover {
    border: 1px solid #ff6d00;
    color: #ffffff;
    background: #ff6d00;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-brand .logo {
    width: 184px;
    height: 60px;
    transition: all .6s ease;
    object-fit: cover;
}

.sec1 .con h1 {
    font-size: 46px;
    transition: all .6s ease;
    margin-bottom: 20px;
}

.sec1 .con p {
    font-size: 22px;
    color: rgba(242, 242, 242, 0.71);
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #8d8d8d !important;
}

.fp-tableCell {
    position: absolute;
    left: 0;
    top: 0;
}

.sec3 {
    background: #ffffff url("images/banner_02.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.sec3 h3, .sec7 h3 {
    padding: 0 15px;
    margin-bottom: 30px;
    font-size: 30px;
}

.sec3 p, .sec7 p {
    font-size: 22px;
    color: rgba(242, 242, 242, 0.71);
    line-height: 1.5;
    padding: 0 15px;
    margin-bottom: 30px;
}

.sec4 {
    text-align: center;
}

.sec4 .layer {
    max-width: 1000px;
}

.sec4 .item {
    position: relative;
    margin: 20px 10px;
    padding: 40px 0;
    border: 1px solid rgba(177, 177, 177, 0.39);
    background: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

.sec4 .item img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    opacity: 1;
}

.sec4 .item .title {
    opacity: 1;
}

.sec4 .item .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 202px;
    color: #ffffff;
    opacity: 0;
    z-index: 99;
    background-size: cover;
    border-radius: 5px;
}

.sec4 .item .back1 {
    background: #ffffff url("images/advantage1_15.jpg") center no-repeat;
}

.sec4 .item .back2 {
    background: #ffffff url("images/advantage1_17.jpg") center no-repeat;
}

.sec4 .item .back3 {
    background: #ffffff url("images/advantage1_19.jpg") center no-repeat;
}

.sec4 .item .back4 {
    background: #ffffff url("images/advantage1_23.jpg") center no-repeat;
}

.sec4 .item .back5 {
    background: #ffffff url("images/advantage1_24.jpg") center no-repeat;
}

.sec4 .item .back6 {
    background: #ffffff url("images/advantage1_25.jpg") center no-repeat;
}

.sec4 .item .back .con {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 40px;
}

.sec4 .item .back .con h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec4 .item .back .con p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.sec4 .item:hover {
    border: 0;
}

.sec4 .item:hover .back {
    opacity: 1;
}

.sec4 .item:hover img, .sec4 .item:hover .title {
    opacity: 0;
}

.sec5 {
    position: relative;
    height: calc(100% - 200px);
    background: #ffffff url("images/future.jpg") center no-repeat;
    background-size: cover;
}

.sec5 .des {
    position: relative;
    width: calc(100% - 500px);
    margin: 0 auto;
}

.sec5 .des .des-left {
    float: left;
    background: #ff6d00;
    border-radius: 10px 0 0 10px;
    color: #ffffff;
    width: 30px;
    padding: 40px 5px;
    height: 120px;
    text-align: center;
}

.sec5 .des .des-right {
    height: 120px;
    text-align: left;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 20px 50px;
}

.sec5 h3 {
    margin: 200px 0 0 0;
    color: #fa9245;
    font-size: 30px;
}

.sec5-title {
    text-align: center;
    background: #f5f5f5;
    height: 200px;
}

.sec5-title .title-zh {
    margin-top: 55px;
}

.sec5 p {
    margin: 20px 0 0 0;
    color: #fa9245;
    font-size: 22px;
    font-weight: normal;
}

.sec7 {
    background: #ffffff url("images/banner_03.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.sec8 {
    color: #888888;
    background: #f5f5f5;
}

.sec8-list .item {
    /*padding: 30px 0;*/
}

.sec8-list .item p {
    padding: 20px 0 0 0;
}

.sec8-list .item p span {
    font-size: 12px;
}

.sec8-list {
    max-width: 1180px;
    margin: 0 auto;
}

.sec8-qr p {
    margin-top: 20px;
}

.sec8-copy {
    border-top: 1px solid #b1b1b1;
    margin: 30px auto;
}

.sec8-copy p {
    margin: 10px auto;
    line-height: 2;
}

.sec8-copy a {
    color: #888888;
}

.sec8 .layer {
    max-width: 100%;
}

.sec6 {
    text-align: center;
}

.sec6-left {
}

.sec6-left img {
    width: 100%;
}

.sec6-right {
    padding-left: 50px;
}

.sec6-left-art {
    display: block;
    overflow: auto;
    text-align: left;
    margin-top: 30px;
    color: #000;
}

.sec6-left-art-time {
    float: left;
    margin-right: 30px;
}

.sec6-left-art-des {
    width: calc(100% - 72px);
    float: left;
}

.sec6-left-art-des h4, .sec6-left-art-des p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec6-left-art-time h4 {
    font-weight: bold;
    position: relative;
}

.sec6-left-art-time h4:after {
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(.5);
    background: #888888;
}

.sec6-left-art-time p, .sec6-left-art-des p {
    color: #999999;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li {
    margin-right: 80px;
    margin-bottom: 0;
}

.nav-tabs > li:last-child {
    margin-right: 50px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #dddddd;
    border-radius: 30px;
    color: #a1a1a1;
    padding: 10px 20px;
}

.nav-tabs > li > a:hover {
    border-color: #ff6d00;
    background-color: #ff6d00;
    color: #ffffff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #ff6d00;
    border: 1px solid #ff6d00;
    border-bottom-color: inherit;
}

.sec6-right-tab-content-list {

}

.sec6-right-tab-content-list li {
    margin-top: 34px;
    overflow: auto;
}

.sec6-right-tab-content-list li:first-child {
    margin-top: 17px;
}

.modal-dialog {
    width: 730px;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0;
}

#personal .modal-dialog {
    width: 900px;
}

#enReg .modal-dialog {
    width: 850px;
}

#enReg label {
    text-align: left;
    color: #8d8d8d;
}

#enLogin .modal-body, #forget .modal-body, #personal .modal-body, #enReg .modal-body {
    padding: 50px 200px;
}

.enLogin {
    text-align: center;
}

.enLogin h3 {
    margin-bottom: 50px;
}

.enLogin input {
    margin-bottom: 20px;
}

.enLogin input {
    margin-bottom: 20px;
}

.enLogin a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
}

.enLogin-btn {
    width: 100%;
    background: #ff6d00;
    border: 1px solid #ff6d00;
    color: #ffffff;
    margin: 20px 0;
}

.radio label {
    float: left;
    margin-right: 0;
    transform: translate(14px, -20px);
    padding-left: 50px !important;
}

.radio label:first-child {
    padding-left: 20px !important;
}

.radio input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius: 50%;
    margin-left: 0;
    transform: translate(-30px, -5px);
}

.radio input[type='radio']:checked {
    background: #ff6d00;
    border: 1px solid #ff6d00;
}

.code input {
    border-radius: 4px 0 0 4px;
}

.code button {
    border-radius: 0 4px 4px 0;
    border: 0;
    height: 34px;
}

.control-label {
    line-height: 34px;
}

#enRegSubmit {
    width: calc(100% - 100px);
    margin: 0 50px;
}

.tryout-input1 {
    padding: 0 15px 0 35px;
}

.tryout-input2 {
    padding: 0 35px 0 15px;
}

.tryout-input3 {
    width: calc(100% - 70px);
    margin: 0 35px;
}

.sec6-left {
    padding-right: 50px;
}

.new-sec1 {
    position: relative;
    height: 600px;
    background: #ffffff url(images/banner_06.jpg) center no-repeat;
    background-size: cover;
}

.news-page {
    text-align: center;
}

.news-content {

}

.news-title-zh {
    font-size: 36px;
    margin: 100px auto 20px;
}

.news-title-en {
    font-size: 20px;
    color: #8d8d8d;
    margin-bottom: 30px;
}

.news-tab-content-list {
    margin-top: 60px;
    margin-bottom: 40px;
}

.news-tab-content-list li {
    overflow: auto;
    padding: 30px 0 40px;
    border-bottom: 1px solid #e9e9e9;
}

.news-art {

}

.news-art:hover .news-art-des h4 {
    color: #ff6d00;
}

.news-art-time {
    float: left;
    margin-right: 30px;
    color: #000000;
}

.news-art-time h4 {
    text-align: left;
    font-size: 26px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.news-art-time p, .news-art-time p {
    text-align: left;
    font-size: 12px;
    color: #999999;
}

.news-art-des {
    width: calc(100% - 100px);
    float: left;
    color: #000000;
}

.news-art-des h4 {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 20px;
}

.news-art-des p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #999999;
}

.new-nav-tabs {
    width: 730px;
    margin: 0 auto;
}

.new-nav-tabs li {
    width: 145px;
    display: inline-block;
    margin-right: 50px;
}

.new-nav-tabs li:last-child {
    margin-right: 0;
}

.news-footer {
    text-align: center;
    background: rgba(242, 242, 242, 0.71);
    color: #999999;
}

.news-footer-qr img {
    margin-top: 80px;
    margin-bottom: 40px;
}

.news-footer-qr p {
    margin-bottom: 20px;
    font-size: 20px;
}

.news-footer-qr p:nth-child(3) {
    margin-bottom: 60px;
}

.news-footer-copy {
    border-top: 1px solid rgba(201, 201, 201, 0.71);
    margin: 30px auto;
}

.news-footer-copy p {
    margin: 30px auto 0;
    line-height: 3;
}

.news-footer-copy a {
    color: #999999;
}

.newsdetail-con {
    margin: 80px auto 50px;
}

.newsdetail-time {
    margin: 15px 0;
    color: #999999;
}

.newsdetail-time span {
    margin-right: 50px;
}

.newsdetail-art {
    padding: 30px 0 50px;
    border-top: 1px solid rgba(201, 201, 201, 0.3);
    border-bottom: 1px solid rgba(201, 201, 201, 0.3);
    color: #999999;
    line-height: 2;
}

.newsdetail-art-bottom {
    margin: 20px 0;
    color: #999999;
}

.newsdetail-next {
    color: #000000;
}

.newsdetail-next a {
    color: #999999;
    margin-left: 20px;
}

.newsdetail-share {
    overflow: auto;
    text-align: right;
    color: #999999;
}

.newsdetail-share span {
    margin-right: 10px;
}

.newsdetail-share span:last-child {
    margin-right: 0px;
}

.newsdetail-share img {
    cursor: pointer;
}

.about-page {
    text-align: center;
}

.aboutus {
    margin: 80px auto;
    overflow: auto;
}

.aboutus img {

}

.aboutus ul {
    padding-left: 30px;
    text-align: left;
}

.aboutus li {
    color: #999999;
    padding: 20px 0;
    border-bottom: 1px solid rgba(201, 201, 201, 0.71);
    line-height: 1.9;
}

.aboutus li:last-child {
    border-bottom: 0;
}

.team {
    height: 470px;
}

.team-bg {
    background: #ffffff url(images/banner_08.jpg) center no-repeat;
    background-size: cover;
    height: 299px;
    width: 100%;
}

.team-con {
    background: #ffc001;
    color: #ffffff;
    width: 100%;
    height: 370px;
    margin-top: 100px;
}

.team-con img {
    width: 570px;
    height: 370px;
    transform: translate(100px, -40px);
}

.team-con-des {
    text-align: left;
    transform: translate(100px, 0);
    padding: 30px 120px 50px 50px;

}

.team-con-des h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.team-con-des div {
    font-size: 22px;
    color: rgba(245, 245, 245, 0.68);
    margin-bottom: 20px;

}

.team-con-des p {
    line-height: 2;
}

.aboutus-contact {
    overflow: auto;
    margin: 50px 0 50px;
}

.aboutus-contact p {
    color: #999999;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagination-mar {
    margin-bottom: 35px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ff6d00;
    border-color: #ff6d00;
}

.pagination > li > a, .pagination > li > span {
    color: #777;
    margin-bottom: 10px;
}

.help-art-des {
    width: calc(100% - 100px);
    float: left;
    color: #000000;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .sec2 li .content {
        border: 1px solid #d6d6d6;
        margin: 5px;
    }

    .team {
        height: 665px;
    }

    .team-con {
        height: 550px;
    }

    .team-con-des {
        text-align: left;
        transform: translate(0, 0);
        padding: 0 15px;
    }

    .team-con img {
        width: 100%;
        height: auto;
        transform: translate(0, 0);
        padding: 15px;
    }

    .team-bg {
        padding: 0 15px;
    }

    .aboutus ul {
        padding-left: 0px;
    }

    .aboutus {
        margin: 40px auto;
        padding: 0 15px;
    }

    .newsdetail-con {
        margin: 40px auto 40px;
        padding: 0 15px;
    }

    .news-title-zh {
        font-size: 36px;
        margin: 50px auto 20px;
    }

    .news-footer {
        padding: 0 15px;
    }

    .news-tab-content-list li {
        padding: 30px 15px 40px;
    }

    .news-tab-content-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .new-nav-tabs {
        width: 350px;
    }

    .new-nav-tabs > li {
        margin: 0 9px !important;
        margin-bottom: 9px !important;
    }

    .tryout-input1 {
        padding: 0;
    }

    .tryout-input2 {
        padding: 0;
    }

    .tryout-input3 {
        width: 100%;
        margin: 0;
    }

    #enLogin .enLogin, #forget .enLogin {
        overflow: auto;
    }

    .modal-dialog {
        width: calc(100% - 30px);
    }

    #enReg .enLogin, #enLogin .enLogin, #forget .enLogin {
        margin: 0 15px;
    }

    #enReg .modal-dialog {
        width: calc(100% - 30px);
    }

    .enLogin h3 {
        margin-bottom: 30px;
    }

    #personal p {
        margin: 0 15px;
    }

    #personal .modal-dialog {
        width: calc(100% - 30px);
    }

    #enLogin .modal-body, #forget .modal-body, #personal .modal-body, #enReg .modal-body {
        padding: 0;
    }

    .sec6 .sec2-btn-group {
        margin-top: 30px;
    }

    .sec6-left-art {
        text-align: left;
        margin-top: 30px;
    }

    .sec6-right-tab-content-list li {
        margin-top: 0px;
        overflow: auto;
    }

    .sec6-right-tab-content-list li:first-child {
        margin-top: 0px;
    }

    .sec6-left {
        padding: 0 15px;
    }

    .sec6-right {
        padding: 0 15px;
    }

    .nav-tabs > li {
        margin-right: 10px;
        margin-bottom: 0;
        float: none;
        display: inline-block;
    }

    .nav-tabs > li:last-child {
        margin-right: 0;
    }

    .sec8-list .item img {
        width: 55px;
        height: 55px;
    }

    .sec5 h3 {
        margin: 50px 0 0 0;
        font-size: 24px;
    }

    .sec5 p {
        font-size: 16px;
    }

    .sec5 .des .des-right {
        height: 220px;
    }

    .sec5 .des .des-left {
        height: 220px;
        padding: 90px 5px;
    }

    .sec5 .des {
        position: relative;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .sec4 .item:hover {
        border: 1px solid rgba(177, 177, 177, 0.39);
    }

    .sec4 .item:hover img, .sec4 .item:hover .title {
        opacity: 1;
    }

    .sec4 .item img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;
    }

    .sec4 .item {
        padding: 10px 0;
        height: 120px;
    }

    .sec4 .item .title {
        margin: 0 5px;

    }

    .sec4 .item .back {
        height: 102px;
    }

    .navbar-brand .logo {
        transition: all .6s ease;
        transform: translate(0px, -8px);
        width: 110px;
        height: 36px;
        object-fit: cover;
    }

    .sec1 .nav-con {
        top: 48px;
        left: 0px;
    }

    .sec1 .nav-con li {
        width: 100%;
        padding: 0;
        background: #ffffff;
        border-bottom: 1px solid rgba(177, 177, 177, 0.3);
    }

    .sec1 .nav-con li a {
        color: #000000;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .fixed-slide li {
        width: 36px;
        height: 36px;
        line-height: 36px;
        transition: all .6s ease;

    }

    .fixed-slide li img {
        width: 36px;
        height: 36px;
        transition: all .6s ease;

    }

    .sec1 .con h1 {
        font-size: 24px;
        transition: all .6s ease;
    }

    .sec2 li {
        text-align: center;
        border-radius: 5px;
        margin: 0;
        border: 0;
        cursor: pointer;
        padding: 0 0 0 15px;
    }

    .sec2 li:nth-child(2n) {
        padding: 0 15px 0 0;
    }

    .sec2 li .img-num {
        position: relative;
        width: 100%;
        height: 102px;
        background: #ffffff;
    }

    .sec2 li .img-num h4 {
        font-size: 45px;
        color: #7c7c7c;
        line-height: 102px;
        margin: 0;
    }

    .sec2 li .img-num img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 102px;
        object-fit: cover;
    }

    .sec2 li:hover .img-num img {
        display: block;
    }

    .sec2 li:hover .img-num h4 {
        display: block;
    }

    .sec2 li:hover {
        border: 0;
    }

    .title-zh {
        font-size: 30px;
    }

    .title-en {
        font-size: 20px;
        margin-top: 15px;
    }

    .sec2 .des {
        padding: 10px 15px;
        margin-top: 0px;
    }

    .sec2 ul {
        overflow: auto;
        padding-top: 15px;
    }

    .sec2 li h3 {
        font-size: 14px;
        margin: 15px 0 10px;
    }

    .sec2-btn-group button {
        border: 1px solid #bebebe;
        color: #7c7c7c;
        font-size: 18px;
        background: #ffffff;
        border-radius: 30px;
        padding: 10px 60px;
        margin: 10px 20px 0;
        width: 265px;
    }

    .sec5-title {
        text-align: center;
        background: #f5f5f5;
        height: 170px;
    }

    .sec5-title .title-zh {
        margin-top: 45px;
    }

    .sec5 {
        height: calc(100% - 170px);
    }

    .sec3 h3, .sec7 h3 {
        font-size: 20px;
    }

    .sec3 p, .sec7 p {
        font-size: 16px;
    }

    .navbar-brand {
        margin-top: 0 !important;
    }

    .news-art-time p, .news-art-time p {
        font-size: 16px;
    }

    .help-index {
        width: 60px !important;
        height: 60px !important;
        line-height: 60px !important;
        margin-right: 15px !important;
        font-size: 24px !important;
    }

    .help-art-des {
        width: calc(100% - 75px) !important;
    }

    .sec2 li h3 {
        margin: 10px 0 10px !important;
    }

    .sec2 ul {
        padding-top: 5px !important;
        margin-bottom: 0px !important;
    }

    .sec2 .des {
        margin-top: 0;
        padding: 5px 15px !important;
    }

    .title-en {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .sec5 .des .des-right {
        height: 260px !important;
    }

    .sec5 .des .des-left {
        height: 260px !important;
    }

    .sec5 {
        height: calc(100% - 120px) !important;
    }

    .sec5-title .title-zh {
        margin-top: 25px !important;
    }

    .sec5-title {
        height: 120px !important;
    }

    .aboutus-contact img {
        width: 55px !important;
        height: 55px !important;
    }
}

@media (max-width: 320px) {
    .news-art-time p, .news-art-time p {
        font-size: 16px;
    }

    .new-nav-tabs {
        width: 320px;
    }

    .new-nav-tabs li {
        width: 100px;
    }

    .aboutus-contact img {
        width: 55px;
        height: 55px;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .sec6-left-art-des p {
        font-size: 14px;
    }

    .sec6-left-art-des h4 {
        font-size: 16px;
    }

    .nav-tabs > li > a {
        padding: 5px 10px;
    }

    .nav-tabs > li {
        margin-right: 10px;
    }

    .sec5 .des .des-right {
        height: 260px;
    }

    .sec5 .des .des-left {
        height: 260px;
    }

    .sec5 {
        height: calc(100% - 120px);
    }

    .sec5-title .title-zh {
        margin-top: 25px;
    }

    .sec5-title {
        height: 120px;
    }

    .sec4 .item {
        margin: 5px;
        height: 120px;
    }

    .sec2-btn-group button {
        font-size: 16px;
        padding: 5px 40px;
        margin: 5px 0px 5px;
        width: 180px;
    }

    .sec2 li h3 {
        margin: 10px 0 10px;
    }

    .sec2 ul {
        padding-top: 5px;
        margin-bottom: 0px;
    }

    .sec2 .des {
        margin-top: 0;
        padding: 5px 15px;
    }

    .title-en {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}