* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

p {
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1920px;
}

nav .logo {
    margin-top: 30px;
}

.layer {
    position: relative;
    width: 1180px;
    margin: 0 auto;
}

.sec1 {
    background: #ffffff url("http://via.placeholder.com/1920x1000/D3FF33") center no-repeat;
}

.sec1 .con {
    text-align: center;
    color: #ffffff;
}

.sec1 .nav-con {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;
}

.sec1 .nav-con ul {
    overflow: auto;
}

.sec1 .nav-con li {
    float: left;
    padding: 25px 10px 10px;
    text-align: center;
    background: transparent;
}

.sec1 .nav-con li.active {
    background: #ff6d00;
}

.sec1 .downbtn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}