* {
    margin: 0;
    padding: 0;
    transition: all .6s ease;
}

ul, ol {
    list-style: none;
}

p {
    margin: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.sec1 {
    background: #ffffff url("images/banner_01.jpg") center no-repeat;
    background-size: cover;
}

.sec1 .con {
    text-align: center;
    color: #ffffff;
}

.sec1 .nav-con {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: #ffffff;
}

.sec1 .nav-con ul {
    overflow: auto;
}

.sec1 .nav-con li {
    float: left;
    padding: 25px 10px 10px;
    text-align: center;
    background: transparent;
    transition: all .6s ease;
}

.sec1 .nav-con li.active, .sec1 .nav-con li:hover {
    transition: all .6s ease;
    background: #ff6d00;
}

.sec1 .downbtn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.fixed-slide {
    position: fixed;
    right: 10px;
    bottom: 0px;
}

.fixed-slide li {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #000000;
    margin-top: 5px;
    cursor: pointer;
    transition: all .6s ease;
}

.sec2 {
    position: relative;
    text-align: center;
    max-width: 1180px;
    margin: 0 auto;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.title-zh {
    font-size: 40px;
}

.title-en {
    font-size: 24px;
    margin-top: 10px;
    color: #bebebe;
}

.sec2 .des {
    margin-top: 15px;
    font-size: 14px;
    color: #7c7c7c;
}

.sec2 ul {
    overflow: auto;
    padding-top: 30px;
}

.sec2 li {
    text-align: center;
    cursor: pointer;
    padding: 0 15px;
}

.sec2 li .content {
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.sec2 li:last-child {
    margin-right: 0;
}

.sec2 li .img-num {
    position: relative;
    width: 100%;
    height: 170px;
    background: #ffffff;
}

.sec2 li .img-num h4 {
    font-size: 75px;
    color: #7c7c7c;
    line-height: 170px;
    margin: 0;
}

.sec2 li .img-num img {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.sec2 li h3 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec2 li p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #b1b1b1;
    padding: 0 5px;
    margin-bottom: 20px;
}

.sec2 li:hover .img-num img {
    display: block;
}

.sec2 li:hover .img-num h4 {
    display: none;
}

.sec2 li:hover .content {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.sec2-btn-group {

}

.sec2-btn-group button {
    border: 1px solid #bebebe;
    color: #7c7c7c;
    font-size: 24px;
    background: #ffffff;
    border-radius: 30px;
    padding: 10px 60px;
    margin: 40px 20px 0;
}

.sec2-btn-group button:hover {
    border: 1px solid #bebebe;
    color: #ffffff;
    background: #bebebe;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-brand .logo {
    width: 184px;
    height: 60px;
    transition: all .6s ease;
    object-fit: cover;
}

.sec1 .con h1 {
    transition: all .6s ease;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #8d8d8d !important;
}

.fp-tableCell {
    position: absolute;
    left: 0;
    top: 0;
}

.sec3 {
    background: #ffffff url("images/banner_02.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.sec3 h3 {
    padding: 0 15px;
    margin-bottom: 30px;
}

.sec3 p {
    padding: 0 15px;
    margin-bottom: 30px;
}

.sec4 {
    text-align: center;
}

.sec4 .layer {
    max-width: 1000px;
}

.sec4 .item {
    position: relative;
    margin: 20px 10px;
    padding: 40px 0;
    border: 1px solid rgba(177, 177, 177, 0.39);
    background: #ffffff;
    cursor: pointer;
}

.sec4 .item img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    opacity: 1;
}

.sec4 .item .title {
    opacity: 1;
}

.sec4 .item .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 202px;
    color: #ffffff;
    opacity: 0;
    z-index: 99;
    background-size: cover;
}

.sec4 .item .back1 {
    background: #ffffff url("images/全屏首页1_15.jpg") center no-repeat;
}

.sec4 .item .back2 {
    background: #ffffff url("images/全屏首页1_17.jpg") center no-repeat;
}

.sec4 .item .back3 {
    background: #ffffff url("images/全屏首页1_19.jpg") center no-repeat;
}

.sec4 .item .back4 {
    background: #ffffff url("images/全屏首页1_23.jpg") center no-repeat;
}

.sec4 .item .back5 {
    background: #ffffff url("images/全屏首页1_24.jpg") center no-repeat;
}

.sec4 .item .back6 {
    background: #ffffff url("images/全屏首页1_25.jpg") center no-repeat;
}

.sec4 .item .back .con {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 40px;
}

.sec4 .item .back .con h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sec4 .item .back .con p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.sec4 .item:hover {
    border: 0;
}

.sec4 .item:hover .back {
    opacity: 1;
}

.sec4 .item:hover img, .sec4 .item:hover .title {
    opacity: 0;
}



@media (max-width: 768px) {
    .sec4 .item:hover {
        border: 1px solid rgba(177, 177, 177, 0.39);
    }

    .sec4 .item:hover img, .sec4 .item:hover .title {
        opacity: 1;
    }

    .sec4 .item img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 1;
    }

    .sec4 .item {
        padding: 10px 0;
    }

    .sec4 .item .back {
        height: 102px;
    }

    .navbar-brand .logo {
        transition: all .6s ease;
        transform: translate(0px, -8px);
        width: 110px;
        height: 36px;
        object-fit: cover;
    }

    .sec1 .nav-con {
        top: 48px;
        left: 0px;
    }

    .sec1 .nav-con li {
        width: 100%;
        padding: 0;
        background: #ffffff;
        border-bottom: 1px solid rgba(177, 177, 177, 0.3);
    }

    .sec1 .nav-con li a {
        color: #000000;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .fixed-slide li {
        width: 36px;
        height: 36px;
        line-height: 36px;
        transition: all .6s ease;

    }

    .fixed-slide li img {
        width: 36px;
        height: 36px;
        transition: all .6s ease;

    }

    .sec1 .con h1 {
        font-size: 24px;
        transition: all .6s ease;
    }

    .sec2 li {
        text-align: center;
        border-radius: 5px;
        margin: 0;
        border: 0;
        cursor: pointer;
        padding: 0 0 0 15px;
    }

    .sec2 li:nth-child(2n) {
        padding: 0 15px 0 0;
    }

    .sec2 li .img-num {
        position: relative;
        width: 100%;
        height: 102px;
        background: #ffffff;
    }

    .sec2 li .img-num h4 {
        font-size: 45px;
        color: #7c7c7c;
        line-height: 102px;
        margin: 0;
    }

    .sec2 li .img-num img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 102px;
        object-fit: cover;
    }

    .sec2 li:hover .img-num img {
        display: block;
    }

    .sec2 li:hover .img-num h4 {
        display: block;
    }

    .sec2 li:hover {
        border: 0;
    }

    .title-zh {
        font-size: 30px;
    }

    .title-en {
        font-size: 20px;
        margin-top: 15px;
    }

    .sec2 .des {
        font-size: 12px;
        padding: 15px;
    }

    .sec2 ul {
        overflow: auto;
        padding-top: 15px;
    }

    .sec2 li h3 {
        font-size: 14px;
        margin: 15px 0 10px;
    }

    .sec2-btn-group button {
        border: 1px solid #bebebe;
        color: #7c7c7c;
        font-size: 24px;
        background: #ffffff;
        border-radius: 30px;
        padding: 10px 60px;
        margin: 10px 20px 0;
    }

}